/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.09.2016, 22:44:47
    Author     : Roman
*/

@import 'roboto.css';
@import 'owl.css';
@import 'jquery.fancybox.css';

*{
    outline: none;
}

body{
    font-family: roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    color: #000;
}
section{
    position: relative;
    overflow: hidden;
}

section h3{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 60px;
}
.zig-zag-type1 span {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.modal-content {
    padding: 0;
    border-radius: 0;
    border: 0;
}


/* HEADER SECTION */
.header-section{
    background-image: url('../img/head-back.jpg');
    background-position: right bottom;
    background-size: cover;
    padding: 30px 0 0px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;    
    background-color: #75a5cf;    
}

@media (min-width: 1500px) { 
    .header-section{
        padding: 30px 0 40px;        
        margin-bottom: 15px; 
    } 
}

.header-section::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    background-image: url('../img/mad-border-top.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    width: 100%;
}
/*
@media (min-width: 1200px) { 
    .header-section{
        
    } 
}
*/
.header-top-panel-area{
      margin-bottom: 35px;
}

@media (min-width: 768px) { 
    .header-top-panel-area{
        margin-bottom: 40px;
    } 
}

@media (min-width: 1500px) { 
    .header-top-panel-area{
        margin-bottom: 120px;
    } 
}

    .company-logo-area{
        display: table;
        width: 7    0%;
        float: left;
    }
    .company-logo,
    .company-logo-description{
        display: table-cell;
        vertical-align: middle;
    }
    .company-logo-description{        
        padding: 0 15px;
    }    
    .company-logo-description h1{
        color: #fff;
        font-size: 16px;
        
    }

    @media (min-width: 600px) {
        .company-logo-area{
            width: 30%;
        }
    }    


.company-about-number-area{
    
}

/*@media (min-width: 1200px) {*/
    .company-about-number-area{
        width: 50%;
        float: left;
        padding: 0 2%;
    }
    .company-about-number{
        width: 32%;
        float: left;
        padding: 0 10px 5px;
        text-align: center; 
        
        margin-bottom: 5px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
 border-bottom: 3px solid transparent;
    }
    .company-about-number:hover{
       border-bottom: 3px solid #fcd107;

    }
    
    .company-about-number img{
        display: inline-block;
        float: none;               
        margin-bottom: 7px;
    }
    .company-about-number span{
        display: inline-block;
        float: none;
        font-weight: 600;
        font-size: 15px;
    }

/*}*/

.company-contact-area{    
    display: inline-block;
}


    .company-contact-phone,
    .company-contact-phone:visited{
        font-family: roboto-slab;
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 30px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        margin-bottom: 25px;
        text-align: center;
    }
    .company-contact-phone:hover,
    .company-contact-phone:active,
    .company-contact-phone:focus{
        color: #ffd303;        
        text-decoration: none;
    }
    .company-contact-callback-btn,
    .company-contact-callback-btn:visited{
        display: block;
        padding: 10px;
        text-transform: uppercase;
        border: 2px solid #ffd303;
        border-radius: 30px;
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
        position: relative;
        z-index: 1;
        overflow: hidden;        
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
    }
    .company-contact-callback-btn:hover,
    .company-contact-callback-btn:active,
    .company-contact-callback-btn:focus{
        color: #000;        
        text-decoration: none;       
    }
    
    .company-contact-callback-btn::before,
    .company-contact-callback-btn::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        left: 0;        
        /* transform: translate3d(0, 0, 0);
        
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;*/
        
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        z-index: -1;
    }
    .company-contact-callback-btn::after {        
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
    }
    .company-contact-callback-btn:hover::before {
        background-color: #7abc38;
        transform: translate3d(0, 100%, 0);
    }
    .company-contact-callback-btn:hover::after {
        background-color: #ffd303;
        transform: translate3d(0, 100%, 0);
    }
    
@media (min-width: 600px) {
    .company-contact-area{
        float: right;
    }
}    

@media (min-width: 1200px) {
    .company-contact-area{
        width: 20%;
        float: left;
    }
}

.header-main-area{
    
}

.header-message-area{
    padding: 0 15px;
}
.header-message-area h2{
    font-family: roboto-slab;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);    
}
.header-message-area p{
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);   
}

.header-form-area{
    
}

.header-form-container{
    background-color: rgba(73,47,3, 0.62);
    border: 7px solid #fff;
    padding: 30px 40px 40px 40px;   
}

.header-form-pre-header{
    text-align: center;
}
.header-form-pre-header-img, 
.zig-zag-type1{
    display: inline-block;
}
.header-form-pre-header-img{
    padding: 0 3px;
}

.zig-zag-type1.left{
    text-align: left;
}
.zig-zag-type1.right{
    text-align: right;
}


.zig-zag-type1 span {
display: inline-block;
height: 15px;
width: 15px;
position: relative;
-moz-transform: translateY(10px);
-webkit-transform: translateY(10px);
-o-transform: translateY(10px);
-ms-transform: translateY(10px);
transform: translateY(10px);
}
.zig-zag-type1 span:before, .zig-zag-type1 span:after {
content: "";
height: 3px;
width: 50%;
position: absolute;
top: 0;
background: #ffd303;
}
.zig-zag-type1 span:before {
left: 0;
-webkit-transform: skew(0deg, 45deg);
-moz-transform: skew(0deg, 45deg);
-ms-transform: skew(0deg, 45deg);
-o-transform: skew(0deg, 45deg);
transform: skew(0deg, 45deg);
}
.zig-zag-type1 span:after {
right: 0;
-webkit-transform: skew(0deg, -45deg);
-moz-transform: skew(0deg, -45deg);
-ms-transform: skew(0deg, -45deg);
-o-transform: skew(0deg, -45deg);
transform: skew(0deg, -45deg);
}



.header-form-header{
    text-align: center;    
}

.header-form-header h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header-form-header a{
    font-family: roboto-slab;
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 38px;     
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;   
}

.header-form-header a:active,
.header-form-header a:hover,
.header-form-header a:focus{
    color: #ffd303;        
    text-decoration: none;
}

.header-form-header span{
    display: block;
}

.header-form input{
        padding: 15px 20px;
        color: #000;
        background-color: #fff;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-bottom: 13px;
    }
    
    .header-form input:focus{
        outline: 1px solid #ffd303;
    }
.header-form .submit-container{
        content: '';
        position: relative;
        background-color: #b69600; 
        border-radius: 25px;
} 
    
.header-form button{
        padding: 15px 20px;
        color: #000;
        background-color: #ffd303;
        font-weight: 800;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        border: 0;       
        border-radius: 25px;
        -moz-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
        outline: none;
    }
    .header-form button:active{
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        outline: none;
    }    
   
    .header-message-area h2{
        font-size: 45px;
        margin-bottom: 15px;
    }
    .header-message-area p{
        font-size: 18px; 
        font-weight: 600;
        width: 70%;
    }
    
    
    
@media (min-width: 768px) {    
    .header-message-area h2{
        font-size: 60px;
        margin-bottom: 30px;
    }
    .header-message-area p{
        font-size: 24px; 
        font-weight: 600;
        width: 70%;
    }
}    
    

@media (min-width: 992px) {
    .header-main-area{
        display: table;
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    
    .header-message-area{
        display: table-cell;
        vertical-align: middle;
        width: 70%;
        padding: 0 15px;        
    }
    
    .header-form-area{        
        display: table-cell;
        vertical-align: middle;
        width: 30%;
        padding: 0 15px; 
    }
}

@media (min-width: 1500px) {
    .header-main-area{
        margin-bottom: 80px;
    }
}

.modal-good-container{    
    background-color: #fff;
    margin: 0 -20px 20px;
    padding: 10px 20px;
    display: none;
}

.modal-good-area {
    display: table;    
    width: 100%;    
}

.modal-good-img{
    display: table-cell;
    width: 33%;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
}
.modal-good-text{    
    width: 67%;
    display: table-cell;
    padding: 10px;
    box-sizing: border-box;
}

.modal-good-name{
    font-family: roboto-slab;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 7px;
    color: #000;
    text-align: left;
}

/* MENU SECTION */

.menu-area{
    position: relative;
    z-index: 10;
}

.menu-container{
    background-color: rgba(255,255,255,.93);
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.menu-container ul{
    display: table;
    width: 100%;
    position: relative;
}
.menu-container ul::after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: -1;
}

.menu-container ul li,
.menu-container ul li:focus{
    cursor: pointer;
    display: table-cell;
    border-bottom: 5px solid transparent;
    text-align: left;    
    padding: 0 5px 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media(min-width: 1200px){
    .menu-container ul li{
        text-align: center;
    }
}

.menu-container ul li:first-child{
    text-align: left;
}
.menu-container ul li:last-child{
    text-align: right;
}
.menu-container ul li:hover{    
    border-bottom: 5px solid #fff603;
}
.menu-container li.active{    
    border-bottom: 5px solid #ffd303;
}
.menu-container li.active:hover{    
    border-bottom: 5px solid #ffd303;
}

.menu-container li a,
.menu-container li a:hover,
.menu-container li a:focus,
.menu-container li a:active,
.menu-container li a:visited{
    color: #3a200d;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

/* PRICE SECTION */

.price-section{
    padding-top: 55px;
}


.price-section h2{
    font-family: roboto-slab;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 60px;
    text-align: center;
}

.price-section h3{
    font-family: roboto-slab;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height: 1em;
    margin: 0;
    display: block;
}

.good-card{
    border: 1px solid #ddd;
    padding: 35px 15px 25px;
    margin-bottom: 30px;
     -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.good-card:hover{    
    border: 1px solid #ffd303;
}


.good-card-img{
    height: 180px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.good-card-price-area{
    display: table;
    width: 100%;
}

.good-card-price{
    display: table-cell;
    font-family: roboto-slab;
    font-weight: 700;
    font-size: 22px;
    text-align: right;
    
    padding: 0 5px;    
    vertical-align: middle;
}
.good-card-price .fa-rub{    
    font-size: 20px;
}

.good-card-bye-area{
    display: table-cell;
    font-weight: 800;
    font-size: 12px;
    text-align: left;
    padding: 0 5px;    
}


    .good-card-bye-btn,
    .good-card-bye-btn:visited{
        display: inline-block;
        padding: 10px 20px;
        text-transform: uppercase;
        border: 2px solid #ffd303;
        border-radius: 30px;
        color: #000;
        font-size: 14px;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
        position: relative;
        z-index: 1;
        overflow: hidden;        
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
    }
    .good-card-bye-btn:hover,
    .good-card-bye-btn:active,
    .good-card-bye-btn:focus{
        color: #000;        
        text-decoration: none;       
    }
    
    .good-card-bye-btn::before,
    .good-card-bye-btn::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        left: 0;        
        /* transform: translate3d(0, 0, 0);
        
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;*/
        
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -ms-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        z-index: -1;
    }
    .good-card-bye-btn::after {        
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
    }
    .good-card:hover .good-card-bye-btn::before {
        background-color: #7abc38;
        transform: translate3d(0, 100%, 0);
    }
    .good-card:hover .good-card-bye-btn::after {
        background-color: #ffd303;
        transform: translate3d(0, 100%, 0);
    }    
    
    
    .good-card:hover .good-card-img{
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -o-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }
    
    .modal-good-card{
        padding: 30px;
        text-align: center;        
        background-image: url(../img/middle-form-back.jpg);
        background-position: center;
        background-size: cover;
        color: #FFF;
    }
    
    .modal-good-card h3{
        font-size: 24px;
        min-height: 1em;
        margin-bottom: 20px;
        
    }
    .modal-good-card .good-card-img{
        height: 250px;
    }
    
    .modal-good-card .good-card-price{
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .modal-good-card .middle-form .input-container{
        width: 100%;
        float: none;
    }
    
    
    
    
    .big-ax-area{
        margin-top: 30px;
        margin-bottom: 45px;
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .big-ax-i-area{
        height: 50px;
        width: 50px;
        border: 2px solid #ffd303;
        border-radius: 50%;
        display: inline-block;
        font-weight: 600;    
        margin: -30px 0 15px;
        display: inline-block;
    }
    .big-ax-i{
        display: table;
            height: 100%;
            width: 100%;
            margin: 0;
    }
    .big-ax-i i{
        display: table-cell;
        vertical-align: middle;
        font-style: normal;        
        font-size: 22px;
    }
    
    .big-ax-info{        
        font-size: 18px;
    }
    
    @media(min-width: 992px){
        .big-ax-area{
            background-image: url('../img/big-ax.jpg');
        }
        .big-ax-i-area{
            margin: -30px 0 140px;
        }
        .big-ax-info{        
            margin-bottom: 80px;
        }
    }

    
    /* MIDDLE FORM SECTION */

    .middle-form-section{
        padding: 50px 0 40px;
        background-image: url('../img/middle-form-back.jpg');
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    
    @media(min-width: 1500px){
        .middle-form-section{
            padding: 100px 0 80px;
        }
    }
    
    .middle-form-section::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        background-image: url('../img/mad-border-top.png');
        background-repeat: repeat-x;
        background-position: bottom left;
        width: 100%;
    }
    .middle-form-section::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        background-image: url('../img/mad-border-bottom.png');
        background-repeat: repeat-x;
        background-position: top left;
        width: 100%;
    }
    
    .middle-form-content-container{
        display: inline-block;
    }

    .middle-form-section h2{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 60px;
        color: #fff;
        text-align: center;
    }
    @media(min-width:1500px){
        .middle-form-section h2{
            font-size: 72px;
        }
    }
    
    .middle-form-section p{
        text-align: center;
        color: #fff;
        
    }
    
    
    .middle-form-zig-zag-container{
        text-align: center;
        margin-bottom: 25px;
        
    }
    
    .middle-form .form-row{
        margin: 0 -5px;
    }
    .middle-form .input-container{
        padding: 0 5px;
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
    @media(min-width: 768px){
        .middle-form .input-container{
            width: 50%;
        }
    }
    

    .middle-form input{
        padding: 15px 20px;
        color: #000;
        background-color: #fff;
        font-weight: 400;
        display: block;
        width: 100%;
        margin-bottom: 13px;
        height: 63px;
    }
    
    .middle-form input:focus{
        outline: 1px solid #ffd303;
    }
    
.middle-form .submit-container{
        content: '';
        position: relative;
        background-color: #b69600; 
        border-radius: 35px;
        -moz-transform: translateY(3px);
        -webkit-transform: translateY(3px);
        -o-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:    0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        box-shadow:         0px 3px 6px 0px rgba(0, 0, 0, 0.3);
} 
    
.middle-form button{
        padding: 15px 20px;
        color: #000;
        background-color: #ffd303;
        font-weight: 800;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        border: 0;       
        border-radius: 35px;
        -moz-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
        outline: none;
        height: 61px;
    }
.middle-form button:active{
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        outline: none;
    }    
 
    
 /* ADVANTAGE SECTION */
 
 .adv-section{
     padding-top: 120px;
     text-align: center;
 }

   .adv-section h3{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    
    
    .adv-card{
        display: table;
        width: 100%;
        float: left;
        margin-bottom: 22px;
        padding: 0 20px 5px;
        text-align: left;
        cursor: pointer;
    }
    
    @media(min-width:768px){
        .adv-area{
            display: inline-block;
            width: 80%;
            padding: 0 -20px;
        }

        .adv-card{
            width: 50%;
        }
    }
    
    
    
    
    .adv-icon-area{
        display: table-cell;
        width: 80px;
        padding: 0 5px;
        vertical-align: top;
    }
    .adv-icon-area img{
        width: 100%;
    }
    
    .adv-text-area{
        display: table-cell;
        padding: 5px  5px 0 10px;
        vertical-align: top;
    }

/* PHOTO SECTION*/
.photo-section{
    padding-top: 110px;
}
.photo-section h2{
    font-family: roboto-slab;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 60px;
    text-align: center;
}


 /* PRODUCTION SLIDER */
 
    .production-slider-container{
        overflow-x: hidden;
    }
    
    #production-slider{
        text-align: center;
        margin-bottom: 30px;
    }
        
    #production-slider .owl-stage{   
        display: table;     
        height: 250px;
    }
    
    @media (min-width: 420px){
        #production-slider .owl-stage{
            height: 300px;
        }
    }
    
    @media (min-width: 768px){
        #production-slider{
            margin-bottom: 110px;
        }

        #production-slider .owl-stage{ 
            height: 380px;
        }
    }
    
    @media (min-width: 992px){
        #production-slider{
            margin-bottom: 130px;
        }

        #production-slider .owl-stage{ 
            height: 490px;
        }
    }
    
    
    
    @media (min-width: 768px){    
        #production-slider{
            width: 1470px !important;
            left: 50%;
           transform: translateX( -50%);
            -ms-transform: translateX( -50%);
            -webkit-transform: translateX(-50%);
        }
    }
    
    @media (min-width: 992px){    
        #production-slider{
            width: 1910px !important;
        }
    }
    
    
    @media (min-width: 1200px){
        #production-slider{
            text-align: center;
            margin-bottom: 130px;
            width: 2310px !important;
        }
        
       

        #production-slider .owl-stage{   
            display: table;       
            height: 585px;
        }
    }

    #production-slider .owl-item{    
        display: table;
        height: 100%;    
        padding:  15px;
        overflow: hidden;
        position: relative;
    }
    
    #production-slider .owl-item img{   
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;  
        width: auto !important;        
        height: 100%;
    }
    

    #production-slider .owl-controls{
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        right: 0;
    }

    @media (min-width: 420px){
        #production-slider .owl-controls {
            width: 420px;
        }
    }

    @media (min-width: 768px){
        #production-slider .owl-controls {
            width: 750px;
        }
    }
    @media (min-width: 992px){
        #production-slider .owl-controls {
            width: 970px;
        }
    }
    @media (min-width: 1200px){
        #production-slider .owl-controls {
            width: 1170px;
        }
    }
    
   
    
    
    #production-slider .owl-controls {
        margin-right: auto;
        margin-left: auto;
    }
    
    #production-slider .owl-nav{
            position: absolute;
        width: 100%;
        height: 100%;
    }
   


    #production-slider .owl-prev,
    #production-slider .owl-next{
        position: absolute;
        top: 50%;
        height: 30px;
        width: 30px;    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;    
        z-index: 10;
        -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    }


    #production-slider .owl-prev{        
        background-image: url(../img/arrow-left.png);    
        left: 2px;
    }

    #production-slider .owl-next{  
        right:  2px;    
        background-image: url(../img/arrow-right.png);
    }

    @media (min-width: 1200px){
        #production-slider .owl-prev{
            height: 56px;
            width: 56px; 
            left: -46px;
        }
        #production-slider .owl-next{
            height: 56px;
            width: 56px; 
            right: -46px;
        }
    }
    
     @media (min-width: 1500px){
        #production-slider .owl-prev{
            height: 56px;
            width: 56px; 
            left: -98px;
        }
        #production-slider .owl-next{
            height: 56px;
            width: 56px; 
            right: -98px;
        }
    }

    #production-slider .owl-prev:hover,
    #production-slider .owl-next:hover{
        opacity: 1;
    }


    

    #production-slider .owl-thumbs{
        /* position: absolute;
        text-align: center;
        width: 100%; */ 
        padding: 15px;
        background-color: #fff;
        display: none;
    }
    
    @media (min-width: 992px){
        #production-slider .owl-thumbs{            
            display: inline-block;
            position: absolute;
            bottom: 5px;
            -moz-transform: translateX(-50%) translateY(50%);
            -webkit-transform: translateX(-50%) translateY(50%);
            -o-transform: translateX(-50%) translateY(50%);
            -ms-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
        }
    }

    #production-slider .owl-thumb-item{
        display: inline-block;
        position: relative;
        height: 40px;
        width: 60px;
        margin: 0 5px;
        border: none;
        border-bottom: 3px solid #fff;
        overflow: hidden;
        padding: 0;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        outline: none;
        margin-bottom: 7px;
    }
    #production-slider .owl-thumbs .active{
        border-bottom: 3px solid #ffd200;
        top: 3px;
        outline: none;
        -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
        box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
    }
    
    @media (min-width: 1200px){
        #production-slider .owl-thumb-item{
            height: 65px;
            width: 95px;
            border-bottom: 6px solid #fff;            
            margin-bottom: 10px;
        }
        #production-slider .owl-thumbs .active{
            border-bottom: 6px solid #ffd200;
            top: 5px;
        }
    }
    
    #production-slider .owl-thumb-item img {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;  
        width: auto !important;        
        height: 100%;
    }
    
    
     /* VIDEO SECTION */
     
     .video-section{
         padding-top: 110px;
         margin-bottom: 120px;
     }
     
     .video-section .container{
         position: relative;
     }
     
     .video-card-container{
         float: right;
     }
     
     .video-card{
         padding: 120px 30px 150px;
         background-color: #ddd;
         background-size: cover;
         background-position: center;         
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: relative;
     }
     
     .video-card::before{
         content: '';         
         position: absolute;
         background-color: rgba(0,0,0,.2);
         height: 100%;
         width: 100%;
         top: 0;
         left: 0;
         z-index: 1;
     }
     .video-card-content{
         position: relative;
         z-index: 2;
     }     
     
    
    
     .video-card zig-zag-type1{
         margin-bottom: 15px;
     }
     
    .video-card .zig-zag-type1 span {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
     
    .video-card h3{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 70px;
        color: #fff;
        text-align: left;
    }
    
    
    
    .video-play-area{
        display: table;
        width: 100%;
    }
    
    .video-play-btn{
        display: table-cell;
        height: 100px;
        width: 100px;        
        padding: 3px 0 0 3px;
        background-image: url('../img/play-back-icon.png');        
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;        
        vertical-align: middle;
        text-align: center;
    }
    .video-play-btn .fa{
        color: #fcd107; 
         
        font-size: 63px;
        position: relative;       
        
        
    }
    .video-play-btn .fa::after{
        content: '';
        position: absolute;
        width: 60%;
        height: 60%;
        top: 20%;
        left: 20%;
        border-radius: 50%;
        background-color: #000;
        z-index: -1;
    }
    .video-play-btn .fa::after,
    .video-play-btn .fa::before{
        display: inline-block;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
  
    .video-card:hover .video-play-btn .fa{
       color: #D22121;
    }
    .video-card:hover .video-play-btn .fa::after{
        background-color: #fff;
    }
    
    .video-play-btn .fa{
  animation: playBtnAnimation ease-in-out 1.7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: playBtnAnimation ease-in-out 1.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: playBtnAnimation ease-in-out 1.7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: playBtnAnimation ease-in-out 1.7s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: playBtnAnimation ease-in-out 1.7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes playBtnAnimation{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  7% {
    transform:  scaleX(1.05) scaleY(1.05) ;
  }
  15% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  21% {
    transform:  scaleX(1.10) scaleY(1.10) ;
  }
  28% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes playBtnAnimation{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  7% {
    -moz-transform:  scaleX(1.05) scaleY(1.05) ;
  }
  15% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  21% {
    -moz-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  28% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes playBtnAnimation {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  7% {
    -webkit-transform:  scaleX(1.05) scaleY(1.05) ;
  }
  15% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  21% {
    -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  28% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes playBtnAnimation {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  7% {
    -o-transform:  scaleX(1.05) scaleY(1.05) ;
  }
  15% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  21% {
    -o-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  28% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes playBtnAnimation {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  7% {
    -ms-transform:  scaleX(1.05) scaleY(1.05) ;
  }
  15% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  21% {
    -ms-transform:  scaleX(1.10) scaleY(1.10) ;
  }
  28% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}
    
    .video-play-cta{
        
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-weight: 800;
        padding: 0 15px;
    }
    
    .video-section .modal-content{
        padding: 0;
        border-radius: 0;
        border: 0;
    }

    .video-section .modal-content iframe{
        max-width: 100% !important;
        padding: 0;
        border-radius: 0;
    }
    
    .video-section-addon{
       position: absolute;
       width: 50%;
       height: 100%;
       background-image: url('../img/addon-video-back.jpg');
       background-position: left bottom;
       background-size: contain;
       background-repeat: no-repeat;
       top: 0;
       -moz-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    
    .modal-video-form-container{
        padding: 20px;
        background-image: url(../img/middle-form-back.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        margin-top: -5px;
        text-align: center;
    }
    .modal-video-form-container .zig-zag-type1{
        margin-bottom: 10px;
    }
    
    .modal-video-form-container h3,
    .modal-video-form-container .price{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 15px;
        color: #fff;
        min-height: 1em;
        text-align: center;
    }
    
    .modal-video-form-container .price{
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    
    /* DIRECTOR SECTION */

    .director-section{
        background-color: #555;
        background-position: top right;
        background-size: cover;
    }
    
    @media(min-width:768px){
        .director-section{
            background-image: url('../img/director.jpg');
        }
    }
    
    .director-message-text{
        position: relative;
    }
    
    @media(min-width: 1300px){
        .director-message-text::before{
            content: '';
            font-family: sans-serif;
            font-size: 160px;
            line-height: 30px;
            color: #ffd303;
            position: absolute;
            background-image: url('../img/quote.png');
            background-size: contain;
            background-position: top left;        
            background-repeat: no-repeat;
            width: 45px;
            height: 40px;
            top: 10px;
            left: -60px;
        }
    }
    
    
    
    .director-section::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        background-image: url('../img/mad-border-top.png');
        background-repeat: repeat-x;
        background-position: bottom left;
        width: 100%;
    }
    .director-section::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        background-image: url('../img/mad-border-bottom.png');
        background-repeat: repeat-x;
        background-position: top left;
        width: 100%;
    }
    
    .director-message-container{
        margin: 60px 0;
        
    }
    
    @media(min-width:768px){
        .director-message-container{
            margin: 260px 0;
        }
    }
    
    .director-message-container h3{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 30px;
        color: #fff;
    }
    
    .director-message-container p{
        font-size: 20px;
        margin-bottom: 30px;
        color: #fff;
    }
    
    .director-message-container p a{
        font-weight: 800;
        color: #ffd303;
    }
    
    
    /* DIRECTOR SECTION */
    .step-section{
        padding-top: 120px;
    }
    
    .step-sub-row{
        box-sizing: border-box;
        width: 100%;           
        float: left;
    }
    
    @media(min-width:768px){
       .step-sub-row{
            margin-bottom: 30px;         
        }
    }
    
    @media(min-width:992px){
       .step-sub-row{
            width: 50%;           
        }
    }
    
    .step-card{
        display: table;
        width: 100%;
        cursor: pointer;         
        margin-bottom: 30px;
    }
    
    .step-card-icon-area{
        display: table-cell;
    }
    
    .step-card-icon,
    .step-card-text{
        display: table-cell;        
        vertical-align: middle;
    }
    .step-card-text{
        padding-left: 15px;
    }
    
    .step-card-addon-icon{
        display: none;
    }
    
    @media(min-width:768px){
        .step-card{
            display: block;  
        }
        .step-card-text{
            display: block;  
        }
        
       .step-card-icon-area{
            display: table;
            margin-bottom: 15px;
            width: 100%;
        }

        .step-card-icon,
        .step-card-addon-icon{
            display: table-cell;        
            vertical-align: middle;
        }
        .step-card-addon-icon{
            text-align: right;
        }
        
        .step-card-text{
            padding: 0;
        }
    }

    
    /* REVIEWS SECTION */

.reviews-section{
    padding-top: 120px;
    text-align: center; 
}
.review-back-img{
    padding: 120px 0;
    background-image: url('../img/team.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
}

.review-back-img::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        background-image: url('../img/mad-border-bottom.png');
        background-repeat: repeat-x;
        background-position: top left;
        width: 100%;
    }

.reviews-section h3{
    color: #fff;
    margin-bottom: 20px;
}   

.reviews-section .zig-zag-type1{
    margin-bottom: 50px;
} 

.reviews-slider-container{
    position: relative;
}

.reviews-section .owl-stage{
    display: table;
    height: 100%;
}

.reviews-section .owl-stage .owl-item{
    display: table;
    height: 100%;
}

.reviews-section .owl-stage .owl-item .review-blanc-area{
    display: table-cell;
    height: 100%;
    padding: 20px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0, .25);
    position: relative;
    overflow: hidden;
}

.reviews-section .review-blanc-top,
.reviews-section .review-blanc-bottom{
    position: absolute;
    height: 20px;
    overflow: hidden;
    width: 100%;
    left: 0;
}

.reviews-section .review-blanc-top{
    top: 0;
}
.reviews-section .review-blanc-bottom{
    bottom: 0;
}

.reviews-section .review-blanc-top::after,
.reviews-section .review-blanc-top::before,
.reviews-section .review-blanc-bottom::after,
.reviews-section .review-blanc-bottom::before{
    content: '';    
    position: absolute;
    display: block;
    border: none;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
}
.reviews-section .review-blanc-top::before{    
    top: 5px;
    left: -15px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.reviews-section .review-blanc-top::after{    
    top: 5px;
    right:  -15px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.reviews-section .review-blanc-bottom::before{    
    bottom: 5px;
    left: -15px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.reviews-section .review-blanc-bottom::after{    
    bottom: 5px;
    right:  -15px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.reviews-section .owl-stage .owl-item .review-blanc-container{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.reviews-slider-nav-prev,
.reviews-slider-nav-next{
    width: 100px;
    height: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-repeat: no-repeat;   
    background-size: 60% auto;
    opacity: .8;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 10;
}

.reviews-slider-nav-prev:hover,
.reviews-slider-nav-next:hover{
    opacity: 1;
}

.reviews-slider-nav-prev{    
    left: 0;
    background-image: url(../img/arrow-left.png);
    background-position: center left;
}

.reviews-slider-nav-next{    
    right: 0;
    background-image: url(../img/arrow-right.png);
    background-position: center right;
}

@media(min-width: 1200px){
    .reviews-slider-nav-prev,
    .reviews-slider-nav-next{
        width: 100px;
    }    
}


@media(min-width: 1350px){
    .reviews-slider-nav-prev{    
        background-position: center left;
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .reviews-slider-nav-next{    
        background-position: center right;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}
    

/* CONTACT SECTION */

.contact-section{
    position: relative;
    padding: 130px 0;
    margin-bottom: 0;
    background-color: #eee;
}

.contact-section .map-container{
    position: absolute;    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.contact-section .container{
    position: relative;
    z-index: 2;
}

.contact-container{
    padding: 60px 40px;
    background-color: #fff;
    margin-left: 15px;
    float: right;
    position: relative;  
    text-align: center;
}

.contact-container::after {
    content: ''; 
    position: absolute; 
    border: 15px solid transparent; 
    border-right: 15px solid #fff; 
    left: -30px;
    top: 45%;
}

.contact-container h3{
    font-size: 24px;
    margin-bottom: 15px;
}
.contact-container hr{
    height: 3px;
    width: 30%;
    background-color: #ffcc00;
    display: inline-block;
    margin: 0 0 18px 0;
    border: 0;    
}

.contact-row{
    text-align: left;
    display: table;
    width: 100%;
    margin-bottom: 25px;
}
.contact-icon-col{
    display: table-cell;
    vertical-align: top;
    padding: 0 15px 0 0;
    width: 35px;
}

.contact-info-col{
    display: table-cell;
    vertical-align: top;
    padding: 2px 0 0;
}

.contact-info-col a{
    display: block;
}

.contact-info-col .contact-phone,
.contact-info-col .contact-phone:visited,
.contact-info-col .contact-phone:focus{
    font-family: roboto-slab;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;    
    margin-bottom: 3px;
}

.contact-info-col .contact-phone:hover,
.contact-info-col .contact-phone:active{
    color: #ffcc00;    
    text-decoration: none;
}

.contact-info-col .contact-mail,
.contact-info-col .contact-mail:visited,
.contact-info-col .contact-mail:focus{
    text-decoration: none;
    color: #000;    
}

.contact-info-col .contact-mail:hover,
.contact-info-col .contact-mail:active{
    color: #ffcc00;    
    text-decoration: none;
}
    
/* INFO SECTION */ 

@media(min-width: 992px){
    .col-md-pull-right{
        float: right;
    }
}


.collapse-btn-container{
    text-align: center;
}
.collapse-btn-container a,
.collapse-btn-container a:focus{
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px dashed #000;
    color: #000;
    text-decoration: none;
}
.collapse-btn-container a:hover,
.collapse-btn-container a:active{
    border-bottom: 1px dashed #000;
    color: #000;
    text-decoration: none;
}


.info-content{
    background-color: #f5f5f5;
    padding: 30px 0 90px;
    margin-bottom: 30px;
}

.info-content .collapse-btn-container{    
    margin-bottom: 50px;
}

.info-content h2{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
}


.info-content h3{
        font-family: roboto-slab;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;        
}
.info-content p{
        font-size: 14px;
        margin-bottom: 20px;        
}


table{
  border-collapse: collapse;
}    
table th{
  background-color: #e3e3d7;
  font-family: roboto-slab;
  font-weight: 700;
  padding: 5px 45px;
  vertical-align: middle;
  text-align: left;  
  border: 1px solid #d7d7d7;
}
table td{
  text-align: left;
  padding: 5px 45px;
  vertical-align: middle;  
  border: 1px solid #d7d7d7;
}

.info-content .row{
    margin-top: 40px;
}

.close {
    color: #fff;
    opacity: .6;
    position: absolute;
    filter: alpha(opacity=60);
    top: 0;
    right: 6px;
}

.close:hover, 
.close:focus {
    color: #fff;    
    opacity: 1;
    filter: alpha(opacity=100);
}




